<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>
        <%=title%>
    </title>


    <style>
        body {
            margin: 0;
            padding: 0;
        }
        
        head {
            margin: 10px;
            background: aqua;
            text-align: center;
        }
        
        nav {
            padding: 10px;
            background-color: aqua;
            text-align: center;
            font-size: 30px;
        }
        
        nav ul {
            display: flex;
            font-weight: bold;
        }
        
        nav li {
            list-style-type: none;
            padding: 20px;
        }
        
        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: darkgray;
            font-size: 20px;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>