<nav>
    <div class="site-title">
        <a href="/">
            <h1>
                <%=title%>
            </h1>
        </a>
    </div>
    <p>
    </p>


    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New blog</a></li>
    </ul>
</nav>