<!DOCTYPE html>
<html lang="en">



<body>
    <h1>EROR</h1>


    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New blog</a></li>
    </ul>

    <h1>Go to home</h1>

    <%- include('../partials/footer.ejs') %>

</body>

</html>